<h1>建立會員資料</h1>
<p><%= notice %></p>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<div class="table">
<%= form_for(@user) do |f| %>
<tr>
<td><%= f.label :email%> </td>
<td><%= f.text_field :email %> </td>
<td><%= f.label :password, '密碼' %> </td>
<td><%= f.password_field :password %> </td>
<td><%= f.label :password_confirmation, '再確認密碼' %> </td>
<td><%= f.password_field :password_confirmation %> </td>
<td><%= f.label :nickname, '暱稱' %> </td>
<td><%= f.text_field :nickname %> </td>
<td><%= f.submit %> </td>

</tr>
<% end %>
</div>